// FONTS

// to add a new web font, put the files in fonts/FONTNAME with the name fonts/FONTNAME/FONTAME-webfont*, then add FONTNAME to the list on the next line
// then in the core scss files, just put e.g. @include font('Roboto'); to set the font stack for that element
@each $font-face in "SportsWorld", "DroidSans", "Roboto", "RobotoLight", "RobotoMedium" {
	@font-face {
		font-family: $font-face; font-style: normal; font-weight: normal;
		src: url('fonts/#{$font-face}/#{$font-face}-webfont.eot');
		src: url('fonts/#{$font-face}/#{$font-face}-webfont.eot?') format('eot'),
		url('fonts/#{$font-face}/#{$font-face}-webfont.woff') format('woff'),
		url('fonts/#{$font-face}/#{$font-face}-webfont.ttf') format('truetype');
	}
}

@mixin font($font, $size: 12px, $weight: normal) {
	font-family: $font, "Helvetica", sans-serif;
	font-size: $size;
	font-weight: $weight;
};

// Idaho Gold palette 
$color1: white;
$color2: #F5EF35; //bright yellow
$color3: #2c2c2c;
$color4: #9583A5; //light purple
$color5: #E6A61F; //orange

$content-width: 960px;
$width: $content-width - 2;
$wide-width: 1002px;
$default-padding: 10px;
$swf-width: 200px;
$bigtext: 32px;
$bracket-height: 48px;
