<td>
	<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	[% FOR row IN games %][% LAST IF row.game == 'game_33' %]
		<tr><td class="brackets1" height="50" valign="center">
		[% FOR team IN row.teams %][% seed = seeds.$team %]
			<span id = '[% row.game %] [% team %] select' style = "display: block;" class = 'radio'>
				<input name="radio_[% row.game %]" id = "radio_[% row.game %]_[% loop.count %]" value="[% team %]" type="radio" onClick='advanceTeam("[% team %]","[% row.game %]","[% row.nextGame %]")'>[% seed %] [% team %]<br>
			</span>
			<span id = '[% row.game %] [% team %] done' style = "display: none;" class = 'normal'>
				<span id = '[% row.game %] [% team %]'>[% seed %] [% team %]<br></span>
			</span>
		[% END %]
		</td></tr>
	[% END %]
	</tbody></table>
</td>
