[% PROCESS bracket_header.html.tmpl tableclass = 'bracket_banner' %]
[% PROCESS first_round.html.tmpl tableclass = 'first_round'  %]
[% PROCESS bracket_column.html.tmpl start = '32' end = '47' tableclass = 'second_round' class = 'brackets2' %]
[% PROCESS bracket_column.html.tmpl start = '48' end = '55' tableclass = 'sweet_16' class = 'brackets1' %]
[% PROCESS bracket_column.html.tmpl start = '56' end = '59' tableclass = 'final_8' class = 'brackets2' %]
[% PROCESS bracket_column.html.tmpl start = '60' end = '61' tableclass = 'final_four' class = 'brackets1' %]
[% PROCESS championship.html.tmpl start = '62' end = '62' tableclass = 'championship' class = 'brackets2' %]
[% PROCESS bracket_footer.html.tmpl %]
