<!DOCTYPE html>

<html>

<head><meta name="robots" content="noindex, nofollow, noarchive" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JQMCBP [% year %]</title>

<link rel="shortcut icon" href="images/basketball.ico" type="image/x-icon" />

<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link rel="stylesheet" href="css/jquery.countdown.css" type="text/css" />

[% IF keyword == 'stately' %]
	<link rel="stylesheet" href="stately/assets/css/stately.css" type="text/css" />
[% END %]

<script src="effects.js" language="JavaScript"></script>
<script src="/javascript/jquery.js" language="JavaScript"></script>
<script src="/javascript/bk.jquery-utilities.js" language="JavaScript"></script>
[% IF keyword == 'top' %]
<script src="/javascript/airport.js" language="JavaScript"></script>
<script src="/javascript/jquery-texteffects.js" language="JavaScript"></script>
<script src="/javascript/jquery.plugin.js" language="JavaScript"></script>
<script src="/javascript/jquery.countdown.js" language="JavaScript"></script>
<script src="/javascript/jplayer/jquery.jplayer.min.js" language="JavaScript"></script>
[% ELSIF keyword == 'enter' || keyword == 'willtherebeajqmcbpthisyear' || keyword == 'overview' %]
<script src="/javascript/jquery.plugin.js" language="JavaScript"></script>
<script src="/javascript/jquery.countdown.js" language="JavaScript"></script>
[% END %]

</head>

<body>
<!-- wrap starts here -->
<div id="wrap">

	<!--header -->
	<div id="header">			
		<h1 id="logo-text"><a href="/jqmcbp/" title="Johnny Quest">jqmcbp</a></h1>
		<p id="slogan">Certifiable</p>
		<div id="top-menu">
			<p><a href="mailto:jqmcbp@gmail.com"><span id = 'rejoice'>[% IF keywords == 'top' %]Complain[% ELSE %]Shout Out[% END %]</span></a></p>
		</div>
	</div>
	<!--header ends-->
