div#menu { position: absolute; left: 40; top: 10; width: auto; z-index: 0; display: block; }
div#img1 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: block; }
div#img2 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img3 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img4 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img5 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img6 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img7 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img8 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }
div#img9 { position: absolute; left: 40; top: 40; width: auto; z-index: 0; display: none; }

