/* Styles Added by Ben */
body.brackets {
	background: white;
}

table.thinborder {
	border: 1px solid black;
	font-size: small;
	width: 90%;
}

table.thinborderwhite {
	border: 1px solid black;
	font-size: small;
	font-weight: bold;
	background: #fffaf0;
	color: black;
}

table.sss {
	border: 1px solid black;
	font-size: normal;
	width: 100%;
}
.verysmall {
	font-size: 90%;
}
.whiteboldtext {
	font-weight: bold;
	color: white;
}

.brackets1 { white-space: nowrap; color: black; background: #fffaf0; font-size: 70%; font-weight: normal; font-family: sans-serif; text-align: left; }
.brackets2 { white-space: nowrap; color: black; background: #e6e6e6; font-size: 70%;  font-weight: normal; font-family: sans-serif; text-align: left;}
.thisisme { color: white; background: #324651; font-size: 70%;  font-weight: bold; font-family: sans-serif; text-align: left;}
.monkey { color: black; background: yellow; font-size: 70%;  font-weight: bold; font-family: sans-serif; text-align: left;}

.brackets1 a { color: #4c4c6b; }
.brackets1 a:hover {background: black; color: #324651; text-decoration: underline overline;}
.brackets2 a { color: #4c4c6b; }
.brackets2 a:hover {background: black; color: #324651; text-decoration: underline overline;}
.thisisme a { color: white; }
.thisisme a:hover {background: white; color: #324651; text-decoration: underline overline;}
.monkey a { color: black; }
.monkey a:hover {background: black; color: yellow; text-decoration: underline overline;}

/*
.brackets_heading { white-space: nowrap; font-size: 100%;  font-weight: bold; font-family: sans-serif; text-align: left; color: white; padding-top: 10px;
background: #314650 url(navtab.jpg) repeat-x top left;
}
*/
.rightalign { text-align: right }
.leftalign { text-align: left }
.brackets_region { background: white; height: 280px; }

.brackets1_center { color: black; background: #fffaf0; font-size: 70%; font-weight: normal; font-family: sans-serif; text-align: center;}
.brackets2_center { color: black; background: #e6e6e6; font-size: 70%;  font-weight: normal; font-family: sans-serif; text-align: center;}
.brackets_heading_center { font-size: 90%;  font-weight: normal; font-family: sans-serif; text-align: center;}

td.brackets1 td.brackets2 { white-space: nowrap; margin: 10px; border: 0.125em solid black; }

.picked { margin-left: 12px; color: black; text-transform: uppercase; text-decoration: underline overline; font-size: larger; font-weight: bold; }
.winner { color: black; text-transform: uppercase; text-decoration: underline overline; font-size: larger; font-weight: bold; }
.normal { margin-left: 12px; color: black; font-weight: normal; }
.radio { margin-left: 0px; color: black; font-weight: normal; }


.textinput { font-weight: bold; font-size: larger; }
.largeWhiteBold { font-size: 26px; color: white; font-weight: bold; }
.smallWhiteBold { font-size: 12px; color: white; font-weight: bold; }

td.nolink a { cursor: pointer; color: blue; text-decoration: none; font-variant: small-caps; }
td.nolink a:hover {cursor: pointer; color: blue; text-decoration: none; font-variant: small-caps;}

td.one { color: white; background: black;}
td.two { color: white; background: #333333;}
td.three { color: white; background: #666666;}
td.four { color: white; background: #999999;}
td.five { color: black; background: #cccccc;}
td.six { color: black; background: #ffffff;}

pre.fitme {
	width = 400px;
	white-space = normal;
}
