	</tr>
</tbody></table>
<input name="email" value="[% PARAMS.email %]" type="hidden">
<input name="locale" value="[% PARAMS.locale %]" type="hidden">
<input name="name" value="[% PARAMS.name %]" type="hidden">
<input name="years_played" value="[% PARAMS.years_played %]" type="hidden">
<center>
<img src="bk_files/forward" align="middle">
<input name="SECOND_ROUND" src="bk_files/go_ben_go" value="true" align="center" type="image"><img src="bk_files/back" align="middle">
</center>
</form>
</div>
</body></html>
