[% PROCESS bracket_header.html.tmpl %]

[% PROCESS first_round.html.tmpl %]
[% PROCESS bracket_column.html.tmpl start = '32' end = '47' height = '100' class = 'brackets2' %]
[% PROCESS bracket_column.html.tmpl start = '48' end = '55' height = '200' class = 'brackets1' %]
[% PROCESS bracket_column.html.tmpl start = '56' end = '59' height = '400' class = 'brackets2' %]
[% PROCESS bracket_column.html.tmpl start = '60' end = '61' height = '800' class = 'brackets1' %]
[% PROCESS championship.html.tmpl start = '62' end = '62' height = '1600' class = 'brackets2' %]
[% PROCESS bracket_footer.html.tmpl %]
