<td>
	<table border="1" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	[% n = [ start .. end ] %]
	[% FOR x IN n %]
		[% row = games.$x %]
		<tr><td class="[% class %]" height="[% height %]" valign="center">&nbsp;
		[% elements = [ 0 .. row.teams.size ] %]
		[% FOR element IN elements %]
		[% team = row.teams.$element %][% prevGame = row.prevGame.$element %]
		[% seed = seeds.$team %]
			<span id = '[% row.game %] [% team %] select' style = "display: none;" class = 'radio'>
				<input name="radio_[% row.game %]" id = 'radio_[% row.game %]_[% loop.count %]' value="[% team %]" type="radio" onClick='pickChampion("[% team %]")'>[% seed %] [% team %]
				<img src = '/jqmcbp/images/remove.gif' onClick='secondThoughts("[% team %]","[% row.game %]","[% prevGame %]")'><br>
			</span>
			<span id = '[% row.game %] [% team %] done' style = "display: none;" class = 'normal'>
				<span id = '[% row.game %] [% team %]'>[% seed %] [% team %]<br></span>
			</span>
		[% END %]
	[% END %]
<span id = 'pickCandy' style = "display: none;">
		[% row = games.$start %]
		[% elements = [ 0 .. row.teams.size ] %]
		[% FOR element IN elements %]
		[% team = row.teams.$element %][% prevGame = row.prevGame.$element %]
		[% seed = seeds.$team %]
		<span id = 'champion [% team %]' style = "display: none;" class = 'picked'><p><p><b>Champion: </b>[% seed %] [% team %] <img src = '/jqmcbp/images/remove.gif' onClick='secondThoughtsChamp("[% team %]")'></span>
		[% END %]
	<br>
	And now for the most important part...<br>
	Pick your CANDY!<br>
	<input type = text name = 'candy' id = 'candy' class = 'textinput' size = 30 maxlength = 60><br>
	<img src="/jqmcbp/bk_files/forward" align="middle">
	<input name="ENTER_PICKS" src="/jqmcbp/bk_files/go_ben_go" value="true" align="center" type="image">
	<img src="/jqmcbp/bk_files/back" align="middle">
</span>
		</td></tr>
	</tbody></table>
</td>

