<head><title>[% title %]</title>
<link rel="stylesheet" type="text/css" href="johnnystyle.css">
<script type="text/javascript" src="/jqmcbp/effects.js"></script>
</head>

<body>
<div id = 'content'>
<table width = 720>
<tr><td><img src = "/jqmcbp/images/bannermain.gif"><br><img src = "/johnnyquest/2006/images/sloganmain.gif"></td></tr>
</table></div>

