[% PROCESS header.html.tmpl %]

[% PROCESS bracket_header.html.tmpl %]

[% PROCESS firstround.html.tmpl %]
[% PROCESS bracket_column.html.tmpl start = 'game_33' end = 'game_48' height = '100' class = 'brackets2' %]
[% PROCESS bracket_column.html.tmpl start = 'game_49' end = 'game_56' height = '200' class = 'brackets1' %]
[% PROCESS bracket_column.html.tmpl start = 'game_57' end = 'game_60' height = '400' class = 'brackets2' %]
[% PROCESS bracket_column.html.tmpl start = 'game_61' end = 'game_62' height = '800' class = 'brackets1' %]
[% PROCESS bracket_column.html.tmpl start = 'game_63' end = 'game_63' height = '1600' class = 'brackets2' %]
[% PROCESS footer.html.tmpl %]
