<body class="brackets">
<div id="banner">
<img src="bk_files/bannerround">
</div>

<div id="header2">
<img src="bk_files/firstround"></div>

<div id="bracket">
<form id = 'bracketform'>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

	<tbody><tr>
		<th class="brackets_heading" width="40">&nbsp;
		</th><th class="brackets_heading">first round
		</th><th class="brackets_heading">second round
		</th><th class="brackets_heading">sweet 16
		</th><th class="brackets_heading">regional final
		</th><th class="brackets_heading">final four
		</th><th class="brackets_heading">championship
	</th></tr><tr>
	<td>
		<table border="1" cellpadding="0" cellspacing="0">
<tbody><tr><td class="brackets_region" align="right" height="400" valign="center">
		<img src="bk_files/midwest">
			</td></tr>
<tr><td class="brackets_region" align="right" height="400" valign="center">
		<img src="bk_files/west">
			</td></tr>
<tr><td class="brackets_region" align="right" height="400" valign="center">
		<img src="bk_files/east">
			</td></tr>
<tr><td class="brackets_region" align="right" height="400" valign="center">
		<img src="bk_files/south">
			</td></tr>
		</tbody></table>
	</td>
